* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chilanka', cursive;
    background: #dacfe1;
	height: 100%;
    position: relative;
    min-height: 70vh;
    width: 100%;
    padding-top: 25vh;
    padding-bottom: 25vh;
    overflow-x: hidden;
}

html, body{
	scroll-behavior: smooth;
}

.btn {
    padding: 10px;
    background: #5a4965;
    color: #d0a6a6;
    user-select: none;
    white-space: nowrap;
    text-transform: uppercase;

}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.hidden {
    display: none !important;
}


    .quizblock{
        text-align: center;
        margin-bottom: 10px;
    }
/* Navigation */

header {
    width: 100%;
    background-color: #6d537c;
    font-size: 1.2em;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    background-color:#775e87 ;
    display: flex;
}
nav #name{
    text-transform: uppercase;
    font-family: 'Staatliches';
    color: white;
    margin-left:15px
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;

}

#pcmenu {
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-around;
}

nav ul a li {
    display: flex;
    justify-content: space-between;
}

#pcmenu a {
    margin-right: 20px;
}

nav ul #logo {
    flex: 1;
    margin-left: 20px;
}


/* Navigation */

/* Mob nav */

@media screen and (max-width: 768px) {
    body{
        padding-top: 30vh;
    }
    #pcmenu {
        display: none;
    }

    #mobmenu {
        background-color: white;
        color: black !important;
        width: 100%;
        text-align: center;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
        position: absolute;
        top: -300px;
        transition: 0.5s;
    }
	
	#mobmenu a{
		color: black;
	}

    #mobmenu i {
        position: absolute;
        right: 20px;
        top: 320px;
        transition: 0.5s;
        color: white;
    }
    #mobmenu .fa-times{
    	color: #c45e56;
    	-webkit-animation: rotate 0.5s ease-in-out;
    	-o-animation: rotate 0.5s ease-in-out;
    	animation: rotate 0.5s ease-in-out;
    }
    #mobmenu .fa-bars{
    }
    .menuopened {
        position: absolute;
        top: 0px !important;
        transition: 0.5s;
    }
}

@media screen and (min-width: 768px) {
    #mobmenu {
        display: none;
    }

    .sticky {
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
        transition: 0.3s;
        line-height: 50px;
    }
}


/* Mob nav */

/* Footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #6d537c;
    line-height: 60px;

}

footer ul {
    display: flex;
    color: white;
    list-style: none;

}

footer ul a li {
    display: inline-block;
}

footer ul a {
    margin-right: 20px;
}

footer ul #logo {
    flex: 1;
    margin-left: 20px;
    font-size: 2em;
    font-family: 'Staatliches';
}

/* Footer */

/* Card */

#welcome-card p {
    margin-bottom: 0px;
    font-size: 1.3em;
}

#welcome-card {
    padding-bottom: 25px;
}



.card {
    margin: 0 auto;
    width: 85%;
    margin-top: px;
    font-size: 1.2em;
    margin-bottom: 10px;
    color:#5a4264;
}

.select-cards-block {
    width: 87vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-card {
    text-align: center;
    background-color: #866290;
    width: 30%;
    color: white;
    font-size: 1.2em;
    margin-bottom: 100px;
    padding-bottom: 65px;
    position: relative;
    padding: 20px;
	

}
#welcome-select .btn{
	margin-right: 10px;
}

#welcome-select {
    padding-top: 30px;
    padding-bottom: 30px;
}

.select-card p {
    margin: 10px;
}

.select-card .btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 30%;
}

.select-card img {
    margin-bottom: 15px;
    height: 50%;
}

.card .header {
    font-weight: ;
    font-size: 1.3em;
}

.header-block {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #5a4264;
    font-size: 5em;
    font-family: 'Staatliches';
}

.info img {
    width: 30%;
}

.info {
    width: 100%;
}

.info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .select-cards-block {
        display: block;
        width: 100%;
    }
    #goup{
        right: 10px !important;
        bottom: 10px !important;
    }
    .select-card {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    #cards-block{
    	width: 90% !important;
    }
    #cards-block .info{
    	width: 90% !important;
    }
    #cards-block img{
    	width: 100% !important;
    }
}

#cards-block {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#cards-block img {
    width: 70%;
}
#cards-block .info{
width:70%;
}

/* Card */

/* Go up */

#goup{
	position: fixed;
	bottom: 40px;
	right: 40px;
	background-color: rgb(89, 51, 94);
	color: white;
	border-radius: 50%;
	line-height: 50px;
	width: 50px;
	text-align: center;
	font-size: 1.5em;
    opacity: 0;
    transition: 0.5s;
}

.goupact{
	opacity: 1 !important;
	transition: 0.5s;
}

/* Go up */
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #ecedee;

}

::-webkit-scrollbar-thumb {
    background: #866290;
    /* fallback for old browsers */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #684572;;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.center {
    text-align: center;
    margin: 0 auto;
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(360deg);
	}
	50%{
		transform: rotate(240deg);
	}
	75%{
		transform: rotate(120deg);
	}
	100%{
		transform: rotate(0deg);
	}
}